NEXT_PUBLIC_SUPABASE_URL= https://lijzydfcfqskxympylby.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= sb_publishable_zgFTha9ZJAKDYdLS2YVppQ_PXSA9Rkl
SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxpanp5ZGZjZnFza3h5bXB5bGJ5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjgwNjkxOSwiZXhwIjoyMDg4MzgyOTE5fQ.dabPkZ5HBIf4GwbiB4CYZOzMK7PPVcx6tlR4PiiN4CI
